*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App {
  background-image: url('./assets/daniel-ramirez-q4TfWtnz_xw-unsplash.jpg');
  background-size: cover;
  background-position: bottom;
height: 100vh;

 

}

.App.Warm{
  background-image: url('./assets/daniel-ramirez-q4TfWtnz_xw-unsplash.jpg') ;

}



